<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libcups2_native" version="2.4.7" targetFramework="native" />
  <package id="libcups2_native.redist" version="2.4.7" targetFramework="native" />
  <package id="libjpeg-turbo-v142" version="2.0.4.3" targetFramework="native" />
  <package id="libpng_native" version="1.6.30" targetFramework="native" />
  <package id="libpng_native.redist" version="1.6.30" targetFramework="native" />
  <package id="libressl_native" version="3.7.3.0" targetFramework="native" />
  <package id="libressl_native.redist" version="3.7.3.0" targetFramework="native" />
  <package id="zlib_native" version="1.2.11" targetFramework="native" />
  <package id="zlib_native.redist" version="1.2.11" targetFramework="native" />
</packages>