/aclocal.m4
/autom4te.cache
/config.*
/configure
/doc/pappl.epub
/pappl/libpappl.1.dylib
/pappl/libpappl.a
/pappl/libpappl.dylib
/pappl/libpappl.so
/pappl/libpappl.so.1
/pappl/pappl.pc
/Makedefs
/testsuite/testmainloop
/testsuite/testpappl
/testsuite/testpappl.log*
*.o
*.pwg
testpappl.state
xcshareddata
