/autom4te.cache
/config.h
/config.log
/config.status
/pappl/libpappl.1.dylib
/pappl/libpappl.a
/pappl/libpappl.dylib
/pappl/libpappl.so
/pappl/libpappl.so.1
/pappl/pappl.pc
/Makedefs
/testsuite/testmainloop
/testsuite/testpappl
*.o
*.pwg
testpappl.state
xcshareddata
