/autom4te.cache
/config.h
/config.log
/config.status
/configure~
/doc/pappl.epub
/pappl/cppcheck.log
/pappl/libpappl.2.dylib
/pappl/libpappl.a
/pappl/libpappl.dylib
/pappl/libpappl.so
/pappl/libpappl.so.2
/pappl/pappl.pc
/pappl/parse-lock-log
/Makedefs
/testsuite/testhttpmon
/testsuite/testmainloop
/testsuite/testpappl
/testsuite/testpappl.log*
/vcnet/.vs
/vcnet/packages
/vcnet/x64
*.o
*.pwg
*.tar.gz*
*.zip*
testpappl.state
xcshareddata
